export CONFIG_NAME := qemu_vexpress
export CONFIG_MODE := arm
export CONFIG_TARGET := arm-linux-gnueabihf
export CONFIG_ABI := aapcs-linux
export CONFIG_CPU := cortex-a9
export CONFIG_FPU := vfpv3-d16
export CONFIG_FLOAT := hard
export CONFIG_LINUX_KERNEL_SOURCE := linux-4.11.7.tar.gz
export CONFIG_LINUX_KERNEL_SOURCE_URL := https://www.kernel.org/pub/linux/kernel/v4.x/linux-4.11.7.tar.gz
export CONFIG_LINUX_KERNEL_SOURCE_MD5 := 9cc718062918845dcc009a276c598a6a
export CONFIG_LINUX_KERNEL_DEFCONFIG := vexpress
export CONFIG_LINUX_KERNEL_INTREE_DTS_NAME := vexpress-v2p-ca9
export CONFIG_IMAGE_SCRIPT := $(DEVICE_DIR)/qemu/vexpress/create_image.sh
