export CONFIG_NAME := raspberrypi3
export CONFIG_TARGET := aarch64-linux-gnu
export CONFIG_ABI := lp64
export CONFIG_CPU := cortex-a53
export CONFIG_LINUX_ARCH := arm64
export CONFIG_LINUX_KERNEL_SOURCE := raspberrypi-kernel_1.20170811-1.tar.gz
export CONFIG_LINUX_KERNEL_SOURCE_URL := https://github.com/raspberrypi/linux/archive/raspberrypi-kernel_1.20170811-1.tar.gz
export CONFIG_LINUX_KERNEL_SOURCE_MD5 := cc82ef0ca86c90a8ec59251fd2a47b6c
export CONFIG_LINUX_KERNEL_DEFCONFIG := bcmrpi3
export CONFIG_LINUX_KERNEL_INTREE_DTS_NAME := bcm2710-rpi-3-b bcm2837-rpi-3-b
export CONFIG_IMAGE_SCRIPT := $(DEVICE_DIR)/raspberrypi/create_image.sh
