export CONFIG_NAME := raspberrypi3
export CONFIG_ABI := aapcs-linux
export CONFIG_CPU := cortex-a53
export CONFIG_FPU := neon-fp-armv8
export CONFIG_FLOAT := hard
export CONFIG_LINUX_KERNEL_SOURCE := 64b5f5825a998d745801c2682e686423e88a0e93.tar.gz
export CONFIG_LINUX_KERNEL_SOURCE_URL := https://github.com/raspberrypi/linux/archive/64b5f5825a998d745801c2682e686423e88a0e93.tar.gz
export CONFIG_LINUX_KERNEL_SOURCE_MD5 := 8f65e1770d47a1dea798014b7b6c9406
export CONFIG_LINUX_KERNEL_DEFCONFIG := bcm2709
export CONFIG_LINUX_KERNEL_INTREE_DTS_NAME := bcm2710-rpi-3-b bcm2710-rpi-cm3
export CONFIG_IMAGE_SCRIPT := $(DEVICE_DIR)/raspberrypi/create_image.sh
