export CONFIG_NAME := raspberrypi2
export CONFIG_ABI := aapcs-linux
export CONFIG_CPU := cortex-a7
export CONFIG_FPU := neon-vfpv4
export CONFIG_FLOAT := hard
export CONFIG_LINUX_KERNEL_SOURCE := be2540e540f5442d7b372208787fb64100af0c54.tar.gz
export CONFIG_LINUX_KERNEL_SOURCE_URL := https://github.com/raspberrypi/linux/archive/be2540e540f5442d7b372208787fb64100af0c54.tar.gz
export CONFIG_LINUX_KERNEL_SOURCE_MD5 := 29a50618e86a62fa9788bc0d9dd1f43b
export CONFIG_LINUX_KERNEL_DEFCONFIG := bcm2709
export CONFIG_LINUX_KERNEL_INTREE_DTS_NAME := bcm2709-rpi-2-b
export CONFIG_IMAGE_SCRIPT := $(DEVICE_DIR)/raspberrypi/create_image.sh
